# Mac system files
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Anaconda
anaconda_projects/

# Data raw (too large)
data/raw/
